* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: #222222;
}

.navbar {
    position: absolute;
    width: 375px;
    height: 53px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.logo img {
    position: absolute;
    width: 33px;
    height: 27px;
    left: 25px;
    top: 13px;
}

.border-c img {
    box-sizing: border-box;
    position: absolute;
    width: 91px;
    height: 32px;
    left: 268px;
    top: 10px;
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 7px;
}

.satu {
    position: absolute;
    width: 37px;
    height: 16px;
    left: 125px;
    top: 18px;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
}

.dua {
    position: absolute;
    width: 61px;
    height: 15px;
    left: 188px;
    top: 19px;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
}

.tiga {
    position: absolute;
    width: 84px;
    height: 15px;
    left: 275px;
    top: 19px;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
}

.k-contact p {
    position: absolute;
    width: 92px;
    height: 25px;
    left: 142px;
    top: 109px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.maps iframe {
    position: absolute;
    width: 290px;
    height: 247px;
    left: 42px;
    top: 220px;
}

.hubungi p {
    position: absolute;
    width: 114px;
    height: 25px;
    left: 130px;
    top: 553px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.logo-wa img {
    position: absolute;
    top: 628px;
    left: 155px;
    width: 50px;
    height: 50px;
}